@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --vybs-blue: #0084FF;
  --vybs-blue-light: #E7F5FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-vybs-blue: var(--vybs-blue);
  --color-vybs-blue-light: var(--vybs-blue-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }
}

html {
  scroll-behavior: smooth;
}